body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.container {
    width: 1920px;
    height: 1080px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.container::-webkit-scrollbar{
    display: none;
  }

.font-righteous {
    font-family: 'Righteous', sans-serif;
}

h1 {
    text-align: center;
    margin: 0px;
}

.donor-details{
    margin: 5px 0;
    font-weight: bold;
}

.dono-amount{
    float: right;
}

.dono-message {
    color: gray;
    font-style: italic;
    font-size: 0.9em;
    margin: 5px 0;
}

.dono-date {
    color: lightgray;
    font-style: italic;
    font-size: 0.75em;
    margin: 5px 0;
}

.header {
    margin: 1080px 0 0 0;
}
 
.thanks {
    margin: 518px 0;
}

#donationCount, #scrollingDuration {
    text-align: center;
    font-style: italic;
    margin: 0 0 20px 0;
}

#donationList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#donationList li {
    margin-bottom:0px;
    padding: 10px 0;
}

#donationList li:last-child {
    margin-bottom: 0;
}

/* Dark Mode colors */
.dark-mode {
    color: white;
}
.dark-mode .dono-message{
    color: rgba(255,255,255,.75);
}
.dark-mode .dono-date{
    color: rgba(255,255,255,.5);;
}