@font-face {
    font-family: "Gilroy-Heavy";
    src: url("fonts/Gilroy-Heavy.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("fonts/Gilroy-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_1";
    src: url("fonts/NewAirportDot1.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_2";
    src: url("fonts/NewAirportDot2.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_3";
    src: url("fonts/NewAirportDot3.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_4";
    src: url("fonts/NewAirportDot4.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_5";
    src: url("fonts/NewAirportDot5.otf") format("opentype");
}

html, body {
    height: 100%;
    color: white;
}

body {
    overflow: hidden;
    background-color: black;
}

.wrapper {
    position: relative;
    top: 100%;
    margin:auto;
    animation: 120s credits linear infinite;
}

#app {
    padding: 0px 50px;
    margin: auto;
    
}

h1 {
    text-align: center;
    font-family: "New_Airport_Dot_5", Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1em;
    font-size: 8vw;
    line-height: 0.85;
}

h2 {
    text-align: center;
    font-family: "New_Airport_Dot_4", Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5em;
    font-size: 6vw;
    line-height: 1.0;
}

ul{
    padding: 0 ;
}

li {
    font-family: "New_Airport_Dot_3", Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    margin: 2em 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr 1fr;
}

li .donor-name {
    font-size: 4vw;
    grid-column: 1/2;
}

li .donation-amount {
    font-size: 4vw;
    text-align: right;
    grid-column: 2/2;
}

li .donor-message {
    font-family: "Gilroy-medium", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    grid-column: 1/2;
}

li .donation-date {
    font-family: "Gilroy-medium", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    opacity: .75;
    font-style: italic;
    grid-column: 1/2;
}
  
@keyframes credits {
    0% {
        top: 150%;
    }
    100% {
        top: -700%;
    }
}

@media only screen and (max-width: 750px) {

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    li .donor-name {
        font-size: 30px;
    }
    
    li .donation-amount {
        font-size: 30px;
    }
    
    li .donor-message {
        font-size: 18px;
    }
    
    li .donation-date {
        font-size: 15px;
    }

}

.glow {
	color: rgba(255, 255, 255, 0.5);
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
  from {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.4),
            0 0 2px rgba(255, 255, 255, 0.4), 
          0 0 3px rgba(255, 255, 255, 0.4), 
          0 0 4px rgba(255, 255, 255, 0.4), 
          0 0 5px rgba(255, 255, 255, 0.4), 
          0 0 6px rgba(255, 255, 255, 0.4), 
          0 0 7px rgba(255, 255, 255, 0.4);
  }
  to {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.45),
            0 0 3px rgba(255, 255, 255, 0.45),
          0 0 4px rgba(255, 255, 255, 0.45), 
          0 0 5px rgba(255, 255, 255, 0.45), 
          0 0 6px rgba(255, 255, 255, 0.45), 
          0 0 7px rgba(255, 255, 255, 0.45), 
          0 0 8px rgba(255, 255, 255, 0.45);
  }
}
