:root {
    --white: #ece8e8;
    --black: #2c2c2c;
    --black-80: #2c2c2c80;
    --purple: #3f3451;
    --green: #b1e2be;
    --yellow: #ffcf10;
    --blue: #add8e6;
    --orange: #ffc183;
}

body {
    background-color: rgba(0,0,0,0);
}

.header,
#donationCount,
#scrollingDuration,
.donor-name,
.dono-message,
.dono-date,
.thanks,
.total,
.dono-recipient,
.recipient-header {
    color: var(--purple);
}

.dono-amount, .totalAmount{
    color: var(--orange);
}
.stylistic-set-1 {
    font-feature-settings: "ss01";
}

.stylistic-set-2 {
    font-feature-settings: "ss02";
}