body {
    background-color: #fff;
}

.header,
#donationCount,
#scrollingDuration,
.donor-name,
.dono-message,
.dono-date,
.thanks,
.total,
.dono-recipient,
.recipient-header {
    color: #1d4c6c;
}

.dono-amount,
.totalAmount {
color: #26c2eb;
}
  