body {
    background: rgba(0, 0, 0, 0.25);
}

.header,
#donationCount,
#scrollingDuration,
.donor-name,
.dono-message,
.dono-date,
.thanks,
.total {
    color: #1D4C6C;
}

.dono-amount,
.totalAmount {
    color: rgba(255, 255, 255, 1);
}
