@font-face {
    font-family: "Gilroy-Heavy";
    src: url("../fonts/Gilroy-Heavy.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy-Black";
    src: url("../fonts/Gilroy-Black.otf") format("opentype");
}
@font-face {
    font-family: "Proxima-Nova-Reg";
    src: url("../fonts/Proxima-Nova-Reg.otf") format("opentype");
}
@font-face {
    font-family: "Proxima-Nova-Reg-It";
    src: url("../fonts/Proxima-Nova-Reg-It.otf") format("opentype");
}
@font-face {
    font-family: "Furore";
    src: url("../fonts/Furore.otf") format("opentype");
}
@font-face {
    font-family: "Marvin-Visions-Big-Bold";
    src: url("../fonts/MarvinVisionsBig-Bold.woff2") format('woff');
}
@font-face {
    font-family: "FuturaNowHeadlineBlack";
    src: url("../fonts/FuturaNowHeadlineBlack.ttf") format('truetype');
} 
@font-face {
    font-family: "FuturaNowHeadlineMedium";
    src: url("../fonts/FuturaNowHeadlineMedium.ttf") format('truetype');
}
@font-face {
    font-family: "BrockmannMedium";
    src: url("../fonts/brockmann-medium-webfont.woff2") format('woff');
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
.new-container {
    width: 1920px;
    height: 1080px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.new-container {
    display: none;
}

.container::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'BrockmannMedium', sans-serif;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-feature-settings: "ss01";
}

.donor-details {
    font-family: 'BrockmannMedium', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.donor-name {
    font-family: 'BrockmannMedium', sans-serif;
    padding: 5px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-feature-settings: "ss01";
}

.dono-amount,
.totalAmount {
    font-family: 'BrockmannMedium', sans-serif;
    font-weight: 900;
}

.dono-message, .dono-recipient {
    font-family: 'BrockmannMedium', sans-serif;
    text-align: center;
    width: 70%;
    font-feature-settings: "ss01";
}

.dono-date {
    font-family: 'BrockmannMedium', sans-serif;
    font-feature-settings: "ss01";
}

.header {
    margin-top: 1080px;
}

.thanks {
    text-transform: uppercase;
    margin: 518px 0;
    font-feature-settings: "ss01";
}

.total {
    margin: 259px 0;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    text-align: center;
    font-family: 'BrockmannMedium', sans-serif;
    font-size: 40px;
    color: #c73047;
    border: 3px solid #c73047;
    border-radius: 20px;
    padding: 50px;
    background-color: #c7304710;
    width: 80%;
    margin: auto;
}

.logo img {
    margin: 30%;
}

#donationCount,
#scrollingDuration {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

#donationList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#donationList li {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    break-inside: avoid;
    gap: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

.recipient-header {
    margin-top: 200px;
    font-family: 'FuturaNowHeadlineBlack', sans-serif;
    font-weight: 800;
    flex: 0 0 100% !important;
}
