body {
    background: rgba(255,255,255,1);
}

.header{
    color: #1D4C6C;
}

#donationCount{
    color: #1D4C6C;
}

#scrollingDuration{
    color: #1D4C6C;
}

.dono-amount{
    color: #97C93D;
}

.donor-name{
    color: #1D4C6C;
}

.dono-message{
    color: #1D4C6C;
}

.dono-date{
    color: #1D4C6C;
}

.thanks{
    color: #1D4C6C;
}