body {
    background: rgba(255, 255, 255, 1);
}
    
.header,
#donationCount,
#scrollingDuration,
.donor-name,
.dono-message,
.dono-date,
.thanks,
.total {
    color: #1D4C6C;
}

.dono-amount,
.totalAmount {
    color: #97C93D;
}